html,
body {
  height: 100%; }

body {
  font-family: 'Droid Sans', sans-serif;
  background-color: #fafafa;
  color: #294455;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center; }

.container {
  text-align: center;
  margin: 2em;
  width: auto; }

@media screen and (max-width: 750px) and (max-height: 660px) {
  body {
    align-items: flex-start; }

  .container {
    margin: 0; } }
.heading {
  margin-bottom: 2em; }
  .heading img {
    margin: 0; }
  .heading h1 {
    font-size: 4em;
    margin: 0; }
  .heading h2 {
    font-size: 1.2em;
    margin: 0; }

.navbar {
  margin-bottom: 2em; }
  .navbar a {
    text-align: center;
    padding: 12px 16px;
    overflow: hidden;
    text-decoration: none;
    color: #294455; }
  .navbar a:hover:not(.active) {
    background-color: #bae0ff;
    color: #034c8c; }
  .navbar a.active {
    background-color: #2a7fc3;
    color: #fafafa; }

@media screen and (max-width: 375px) {
  .navbar a {
    text-align: center;
    padding: 8px 12px;
    overflow: hidden;
    text-decoration: none;
    color: #294455; } }
.spinner {
  width: 100%;
  text-align: center;
  margin-bottom: 2em; }

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #2a7fc3;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both; }

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s; }

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s; }

@-webkit-keyframes sk-bouncedelay {
  0%,
    80%,
    100% {
    -webkit-transform: scale(0); }
  40% {
    -webkit-transform: scale(1); } }
@keyframes sk-bouncedelay {
  0%,
    80%,
    100% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
.form .message {
  color: #2a7fc3; }
.form input.email {
  border-style: solid;
  border-color: #294455;
  color: #294455;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s; }
.form input.email:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); }
.form input.email:focus::-webkit-input-placeholder {
  color: transparent; }
.form input.email:focus:-moz-placeholder {
  color: transparent; }
.form input.email:focus::-moz-placeholder {
  color: transparent; }
.form input.email:focus:-ms-input-placeholder {
  color: transparent; }
.form button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); }
.form button {
  border: none;
  color: #fafafa;
  background-color: #2a7fc3;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s; }

.strip a {
  text-decoration: none;
  color: #2a7fc3; }

*:focus {
  outline: none; }

/*# sourceMappingURL=style.css.map */
